body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-image: linear-gradient(#027b76, #012927);
  background-image: radial-gradient(circle closest-side, #027b76, #012927);
  background: #027b76;
  background-image: radial-gradient(circle closest-side, #027b76 80%, #012927 20%);
  background: radial-gradient(#000d0c 0%, #012927 35%, #027b76 100%);
  font-family: 'Montserrat'; }

/* Prevent text selection of a <body> element in all major browsers */
body {
  -youbkit-touch-callout: none;
  /* iOS Safari */
  -youbkit-user-select: none;
  /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  -webkit-user-select: none;
          user-select: none;
  /* Non-prefixed version,
								  currently supported by Chrome and Opera */ }

canvas {
  display: block;
  /* fix necessary to remove space at bottom of canvas */
  vertical-align: top; }

#stats {
  position: absolute;
  top: 0;
  left: 0; }

#about {
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-style: italic; }

a, a:visited {
  color: #fff;
  text-decoration: none; }

/* loading animation */
#loading {
  width: 100%;
  height: 100%;
  /* background: #111; */
  background: radial-gradient(#000d0c 0%, #012927 35%, #027b76 100%);
  position: absolute;
  z-index: 10; }

.spinner {
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -15px; }

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

/* .dg.ac, #stats {
  display: none;
} */
canvas {
  width: 100%;
  height: 100px;
  display: block; }

.annotation {
  position: absolute; }

/* temp*/
/* @media all and (max-width: 980px) {
  body .annotation, .imaj-brain-info-msgs {
    display: none !important;
  }
} */
/* .annotation-style {
  display: inline-block;

  z-index: 1;
  margin-left: 15px;
  margin-top: 15px;
  padding: 1em;
  color: #fff;
  border-radius: 8px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  margin-left: -50% !im;
} */
.imaj-brain-info-msgs {
  position: absolute;
  display: inline-block;
  font-size: .9rem;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #fff;
  padding: 6px 8px;
  /*   background: rgba(1,41,39, 0.8); */
  background-color: rgba(1, 41, 39, 0.75) !important;
  width: 220px;
  text-align: center;
  line-height: 1.6em;
  margin-left: -118px;
  border-radius: 8px; }

/* .annotation-style::before {
  content: '1';
  position: absolute;
  top: -30px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
} */
body .button {
  text-decoration: none;
  font-size: .775rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #fff;
  padding: .2rem .4rem;
  /* margin-left: -50%; */
  transform: translate(-50%, -50%) !important;
  /*       background: rgba(1,41,39, 0.8); */
  background-color: #ef7f02;
  /*         -webkit-transition: .64s ease-in-out;
  transition: .64s ease-in-out; */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: none;
  /* 	transition: transform -1000ms linear; */
  transition-delay: 250ms, -250ms; }

body .popup__text .button {
  text-decoration: none;
  font-size: .975rem;
  color: #fff;
  padding: .4rem .8rem;
  margin-top: 15px;
  margin-left: unset; }

body .popup__text .button:after {
  content: "- Read more...";
  text-decoration: none;
  font-size: .975rem;
  color: #fff;
  padding: .4rem .8rem;
  text-align: right !important; }

body .button:active {
  font-size: .875rem;
  color: #ef7f02;
  padding: 1rem 2rem;
  background: none;
  font-weight: 800;
  margin-top: -20px;
  /*   transform: scale(20); */
  border-radius: 0rem; }

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 13, 12, 0.85);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: .64s ease-in-out;
  /*   transition-delay: .5s; */ }

.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  /*   width: 90vw;
  height: 80vh; */
  max-width: 1840px;
  max-height: 400px;
  width: 80%;
  height: 60%;
  margin-top: 8vh;
  background-color: #fff;
  transform: rotate(32deg);
  transition: .64s ease-in-out;
  border-radius: 40px;
  border: solid 3px #ef7f02; }

.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 19%;
  height: 100%;
  overflow: hidden;
  border-radius: 37px 0 0 37px; }

.popup__photo img {
  width: auto;
  height: 100%; }

.popup__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*   height: 60vh; */
  height: 100%;
  /*     padding: 3rem; */
  padding: 4rem;
  overflow-y: auto;
  /*   align-self: safe center; */
  justify-content: center;
  margin-right: 15px; }

/* body .popup__text p {
  webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  text-align: justify;
column-gap: 40px;
hyphens: auto;
} */
@media all and (max-width: 980px) {
  body .popup__text ol {
    webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important; }
  .popup__photo {
    width: 80%; }
  .popup-inner {
    max-height: unset;
    height: 60%;
    margin-top: unset; }
  body .popup__text h1 {
    font-size: 1.8rem; }
  body .popup__text .button {
    font-size: 0; } }

@media all and (max-width: 479px) {
  body .popup__text ol {
    webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important; }
  body .popup__text h1 {
    font-size: 1.4rem; }
  .popup-inner {
    width: 85%;
    height: 62%;
    max-height: unset;
    margin-top: -35px;
    align-items: center;
    justify-content: center; }
  .popup__photo {
    display: none; }
  .popup__text {
    width: 100%;
    height: 70%;
    padding: 1.3rem;
    margin: auto;
    align-self: safe center;
    margin-right: 20px;
    justify-content: unset; }
  body .popup__text p {
    font-size: 13px;
    line-height: 1.8; } }

body .popup__text ol {
  webkit-column-count: 3;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
.popup-inner ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
.popup-inner ::-webkit-scrollbar-thumb {
  background: #ef7f02;
  border-radius: 10px; }

/* Handle on hover */
.popup-inner ::-webkit-scrollbar-thumb:hover {
  background: #ff1856; }

.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  /*   margin-bottom: 2rem; */
  text-transform: uppercase;
  color: #0A0A0A; }

.popup__text p {
  font-size: .875rem;
  color: #686868;
  line-height: 1.5;
  margin-top: 0;
  /*     webkit-column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; */ }

.popup__text ol li {
  font-size: .75rem;
  color: #686868;
  line-height: 1.5;
  margin: 3px 0; }

.popup:target {
  visibility: visible;
  opacity: 1; }

.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0); }

.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: .875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #ff1856;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }

/* @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
      .annotation {
          position:absolute;
          display:block;
          transform: translate(100%,500%);
      }
      .imaj-brain-info-msgs {
        display:block;
        transform: translate(100%,500%);
      }

    }
} */
/* @media not all and (min-resolution:.001dpcm) {
  @media {
}} */
/* .flex { display: flex; } .flex-horizontal-center { justify-content: center; } */
/*

    @media all and (max-width: 980px) {
    #imaj-brain-nav-annotations {
transform: translate(25vw, 25vh);
display: block;
position: absolute;
    }

    .annotation .button {
      padding: 5px 8px;
      position: relative;
      text-align: center;
      width: 250%;
    }

    .annotation2 .button,
    .annotation3 .button,
    .annotation4 .button,
    .annotation8 .button {
      left: -10vw;
    }

    .annotation5 .button,
    .annotation6 .button,
    .annotation7 .button,
    .annotation9 .button {
      left: 10vw;
    }

    .annotation13 {
      transform: translate(-110%, 0);
    }

    .annotation11 {
      transform: translate(110%, 0);
    }
  }


    @media all and (max-width: 479px) { */
/*     #imaj-brain-nav-annotations {
transform: translate(25vw, 25vh);
display: block;
position: absolute;
    } */
/* .annotation .button {
      padding: 5px 8px;
      position: relative;
      text-align: center;
      width: 100%;
    }

    .annotation2 .button,
    .annotation3 .button,
    .annotation4 .button,
    .annotation8 .button {
      left: -5vw;
    }

    .annotation5 .button,
    .annotation6 .button,
    .annotation7 .button,
    .annotation9 .button {
      left: 5vw;
    }

    .annotation13 {
      transform: translate(-10%, 0);
    }

    .annotation11 {
      transform: translate(10%, 0);
    } */
/* } */
